/* src/Style/About.css */
.About-section {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    background-color: rgba(0, 0, 0, 0.86);
    /* Set overlay color here */
    z-index: -1;
    transition: background-color 0.5s ease;
    border-radius: 30%;
}

.About-header {
    position: relative;
    z-index: 1;
    /* Set a higher z-index value */
    text-align: center;
    /* Adjust as needed */
    color: #fff;
    /* Set text color to ensure visibility */
}

.About-header h1 {
    font-size: 2em;
    /* Adjust the font size as needed */
}

.About-header p {
    font-size: 1.2em;
    /* Adjust the font size as needed */
}

.logo-toolbar {
    width: 100%;
    overflow: hidden;
    border: 2px solid #ccc;
    /* Add a border around the toolbar */
    border-radius: 10px;
    /* Add rounded corners */
    padding: 10px;
    /* Add some padding */
    background-color: #faf8f8;
    /* Add a background color */
}

.logo-scroll {
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.logo-scroll img {
    max-height: 50px;
    /* Adjust the size of the logos */
    margin: 0 10px;
    /* Adjust the spacing between logos */
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.profile-image {
    max-width: 100%;
    max-height: 250px;
    /* Adjust the height as needed */
    border-radius: 50%;
    /* Make the image round */
    margin-bottom: 20px;
    /* Add some space between the image and text */
}